@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/My-Prompt@main/Fonts/WOFF2/RobotoSlab-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/My-Prompt@main/Fonts/WOFF2/RobotoSlab-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/My-Prompt@main/Fonts/WOFF2/RobotoSlab-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/My-Prompt@main/Fonts/WOFF2/RobotoSlab-Bold.woff2) format('woff2');
}
